<div class="container">
  <mat-card class="example-card" appearance="outlined">
    <h4 class="filter">Filters</h4>
    <mat-form-field appearance="outline">
      <mat-label>Movie Name</mat-label>
      <mat-select>
        <mat-option value="volvo">Volvo</mat-option>
        <mat-option value="saab">Saab</mat-option>
        <mat-option value="mercedes">Mercedes</mat-option>
        <mat-option value="audi">Audi</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Species</mat-label>
      <mat-select>
        <mat-option value="volvo">Volvo</mat-option>
        <mat-option value="saab">Saab</mat-option>
        <mat-option value="mercedes">Mercedes</mat-option>
        <mat-option value="audi">Audi</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Vechicle</mat-label>
      <mat-select>
        <mat-option value="volvo">Volvo</mat-option>
        <mat-option value="saab">Saab</mat-option>
        <mat-option value="mercedes">Mercedes</mat-option>
        <mat-option value="audi">Audi</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Star Ships</mat-label>
      <mat-select>
        <mat-option value="volvo">Volvo</mat-option>
        <mat-option value="saab">Saab</mat-option>
        <mat-option value="mercedes">Mercedes</mat-option>
        <mat-option value="audi">Audi</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Birth Year</mat-label>
      <mat-select multiple>
        <mat-option value="volvo">ALL</mat-option>
        <mat-option value="saab">BBD20</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button>Search</button>
  </mat-card>
</div>
