<div class="container d-flex gap-5 px-5 pt-3">
    <mat-card class="details-card" appearance="outlined">

        <div class="people-logo">
            <img src="favicon.ico" alt="Angular Logo">
        </div>

        <div class="people-info">
            <p class="base-style bold">Name: Luke</p>
            <p class="base-style">Skywalkerborn: 19BBY</p>
            <p class="base-style">Gender: male</p>
            <p class="base-style">Height: 172cm</p>
            <p class="base-style">Weight: 77kg</p>
            <p class="base-style">Created at: 09/12/2014</p>
            <p class="base-style">07:20 PM</p>
            <p class="base-style">Edited at: 21/12/2014</p>
            <p class="base-style">02:47 AM</p>
            <p class="base-style">Hair color: blond</p>
            <p class="base-style">Eye color: blue</p>
            <p class="base-style">Skin color: fair</p>
            <p class="base-style bold">Panet Name: Tatooine</p>
            <p class="base-style bold">Species: Human</p>
        </div>

    </mat-card>

    <mat-card class="people-carrer-info">
        <div class="category">
            <h3 class="title">Films</h3>
            <div class="category-info">
                <p>Movie Details Card 1</p>
                <p>Movie Details</p>
                <p>Movie Details</p>
            </div>
            <div class="category-info">
                <p>Movie Details Card 1</p>
                <p>Movie Details</p>
                <p>Movie Details</p>
            </div>
        </div>
        <div class="category">
            <h3 class="title">Vehicles</h3>
            <div class="category-info">
                <p>Movie Details Card 1</p>
                <p>Movie Details</p>
                <p>Movie Details</p>
            </div>
        </div>
        <div class="category">
            <h3 class="title">Starships</h3>
            <div class="category-info">
                <p>Movie Details Card 1</p>
                <p>Movie Details</p>
                <p>Movie Details</p>
            </div>
        </div>
    </mat-card>
</div>